/* スクロール無効 */

html,
body {
    overflow: hidden
}

.editor-controll {
    width: 100%;
    height: 50px;
}

.btn-save {
    width: 50%;
    height: 50px;
}

.editor-markdown {
    width: 100%;
    border: none;
}